In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv("train_v9rqX0R.csv")

In [4]:
df = dataset.copy()

For Feature scaling we have two options:
1. min_max scaling
2. standard scaling

why we do scaling is that because we have to bring all the values to same scale or else it'll create ambiguous results for k-NN type algorithms which accept only values that are of same scale. Why we do it is so that some features don't dominate other features.

# MinMaxScaling

In [5]:
df2 = pd.DataFrame()
df2 = df[["Item_Visibility","Item_MRP"]]
# df["Item_MRP"]

In [6]:
df2.head()

   Item_Visibility  Item_MRP
0         0.016047  249.8092
1         0.019278   48.2692
2         0.016760  141.6180
3         0.000000  182.0950
4         0.000000   53.8614

passing_list = [l1,l2]
Here we see that 
```python
pd.DataFrame([l1,l2],columns = ["A,"D","E"....])
```
takes the values like columns is actually the same length as len(passing_list[0] or[1]) and the length of passing_list is actually the length of rows in the new DataFrame.

In [ ]:
checker = pd.DataFrame([[1,2,3],[4,5,6]], columns=["A","B","C"])

In [ ]:
checker

   A  B  C
0  1  2  3
1  4  5  6

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df2)
# scaled_data = pd.DataFrame(scaled_data,colu
# mns=["Item_Visibility","Item_MRP"])

In [28]:
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)

In [39]:
scaled_data = pd.DataFrame(scaled_data, columns=["Item_Visibility","Item_MRP"])

In [40]:
scaled_data

      Item_Visibility  Item_MRP
0            0.048866  0.927507
1            0.058705  0.072068
2            0.051037  0.468288
3            0.000000  0.640093
4            0.000000  0.095805
...               ...       ...
8518         0.172914  0.777729
8519         0.143069  0.326263
8520         0.107148  0.228492
8521         0.442219  0.304939
8522         0.136661  0.187510

[8523 rows x 2 columns]

In [42]:
scaled_data.describe()

       Item_Visibility     Item_MRP
count      8523.000000  8523.000000
mean          0.201382     0.465635
std           0.157123     0.264327
min           0.000000     0.000000
25%           0.082187     0.265437
50%           0.164228     0.474209
75%           0.288026     0.655156
max           1.000000     1.000000

# Lets do Standard Scaling now

In [44]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_dataSS = scaler.fit_transform(df2)
scaled_dataSS = pd.DataFrame(scaled_dataSS,columns=df2.columns)

In [47]:
scaled_data.head()

   Item_Visibility  Item_MRP
0        -0.970732  1.747454
1        -0.908111 -1.489023
2        -0.956917  0.010040
3        -1.281758  0.660050
4        -1.281758 -1.399220

In [48]:
scaled_data.describe()

       Item_Visibility      Item_MRP
count     8.523000e+03  8.523000e+03
mean     -1.092117e-16 -1.579818e-16
std       1.000059e+00  1.000059e+00
min      -1.281758e+00 -1.761688e+00
25%      -7.586531e-01 -7.574307e-01
50%      -2.364792e-01  3.243893e-02
75%       5.514755e-01  7.170372e-01
max       5.083050e+00  2.021724e+00