In [2]:
import pandas as pd
import numpy as np

We do feature encoding because some of the machine learning algorithms find it really hard to deal with categorical variables and hence we apply feature encoding to those categorical variables columns. But sometimes this can lead to loss of information in case of ordinal variables, Like High, Medium, Low. Puting it through one hot encoding might encode it to 0,0,1 | 1,0,0 and 0,1,0. Did we want that to happen, no right because if that would've been the case then whats the point of telling high, low and medium we could've just given a b c but it doesn't have a order in it, to 001 and low to 010 well in that case we do label encodoing and there's one more problem with it and that is it encodes in alphabetical order to avoid that we have to map it to the order we want. See it later in the code.

In [3]:
data = pd.read_csv("train_v9rqX0R.csv")

In [5]:
df = data.copy()

In [9]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [21]:
# df["Outlet_Type"].value_counts()['Supermarket Type3']
df["Outlet_Type"].value_counts()

Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: count, dtype: int64

In [33]:
ohe = pd.get_dummies(df["Outlet_Type"]).astype(int)

In [35]:
df2 = df.copy()

In [40]:
df2 = pd.concat([df2,ohe], axis= 1)

In [42]:
df2.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914,0.127068,0.654347,0.108882,0.109703
std,4.643456,0.051598,62.275067,8.371760,1706.499616,0.333069,0.475609,0.311509,0.312538
min,4.555000,0.000000,31.290000,1985.000000,33.290000,0.000000,0.000000,0.000000,0.000000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400,0.000000,0.000000,0.000000,0.000000
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000,0.000000,1.000000,0.000000,0.000000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400,0.000000,1.000000,0.000000,0.000000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800,1.000000,1.000000,1.000000,1.000000

In [31]:
df_encoded = pd.get_dummies(df["Outlet_Type"], prefix="Outlet_Type", prefix_sep="_").astype(int)

In [32]:
df_encoded

,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0,1,0,0
1,0,0,1,0
2,0,1,0,0
3,1,0,0,0
4,0,1,0,0
...,...,...,...,...
8518,0,1,0,0
8519,0,1,0,0
8520,0,1,0,0
8521,0,0,1,0
8522,0,1,0,0

In [29]:
ohe.head()

   Grocery Store  Supermarket Type1  Supermarket Type2  Supermarket Type3
0              0                  1                  0                  0
1              0                  0                  1                  0
2              0                  1                  0                  0
3              1                  0                  0                  0
4              0                  1                  0                  0

In [43]:
df["Outlet_Size"].value_counts()

Outlet_Size
Medium    2793
Small     2388
High       932
Name: count, dtype: int64

# Label Encoding

In [59]:
df2 = data.copy()

In [52]:
le_col_names = list(df2["Outlet_Size"].value_counts().keys())

In [54]:
le_col_names

['Medium', 'Small', 'High']

In [53]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(le_col_names)

array([1, 2, 0])

but this is the problem with label encoder it encodes in alphabetical order. to not have that we have to map these to what we want. Like below

In [57]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [61]:
df2.dropna(axis= 0, inplace=True)

In [62]:
df2["Outlet_Size"] =  df2["Outlet_Size"].map({'Medium': 1, 
                       'Small': 0,
                       'High': 2

}).astype(int)

In [63]:
df2

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,1,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,1,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,1,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,2,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,1,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,0,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,2,Tier 3,Supermarket Type1,2778.3834
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,0,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,1,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,0,Tier 1,Supermarket Type1,765.6700