Learning how to make an informed decission on choosing to replace by mode or mean.

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'Height': [165.5, 180.0, 172.7],
        'Salary': [50000.0, 60000.0, 55000.0]}

df = pd.DataFrame(data)

# Select numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64'])

print("Original DataFrame:")
print(df)
print("\nNumerical Columns:")
print(numerical_columns)

Original DataFrame:
      Name  Age  Height   Salary
0    Alice   25   165.5  50000.0
1      Bob   30   180.0  60000.0
2  Charlie   28   172.7  55000.0

Numerical Columns:
   Age  Height   Salary
0   25   165.5  50000.0
1   30   180.0  60000.0
2   28   172.7  55000.0

In [15]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# Concatenate along rows (axis=0)
concatenated_rows = pd.concat([df1, df2], axis=0)
print("Concatenated along rows:")
# print(concatenated_rows["B"].value_counts().sort_values(ascending= False))
print(concatenated_rows)

# Concatenate along columns (axis=1)
concatenated_columns = pd.concat([df1, df2], axis=1)
print("Concatenated along columns:")
print(concatenated_columns)

Concatenated along rows:
   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12
Concatenated along columns:
   A  B  A   B
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [6]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({'A': ['a_b_c', 'd_e_f', 'g_h_i']})

# df

# split the rows from index 1 onwards
# df1 = df.loc[1:].reset_index(drop=True)
df2 = df.loc[:0].reset_index(drop=True)

# print(df1)
# print(df2)

# concatenate the split rows into separate columns
df3 = pd.concat([df2, df1['A'].str.split('_', expand=True)], axis=1)

print(df3)

       A  0  1  2
0  a_b_c  d  e  f
1    NaN  g  h  i