In [4]:
import pandas as pd
import numpy as np
import math
import xlsxwriter
import requests

In [6]:
from secrets import IEX_CLOUD_API_TOKEN

In [10]:
stocks = pd.read_csv('sp_500_stocks.csv')
# stocks = stocks[~stocks['Ticker'].isin(['DISCA', 'HFC','VIAC','WLTW'])]

stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [18]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2520652174603,
 'week52high': 189.86,
 'week52low': 122.92,
 'week52highSplitAdjustOnly': 184.14,
 'week52lowSplitAdjustOnly': 129.09,
 'week52change': 0.21141996200875524,
 'sharesOutstanding': 16802791667,
 'float': 0,
 'avg10Volume': 104085091,
 'avg30Volume': 116659376,
 'day200MovingAvg': 172.04,
 'day50MovingAvg': 160.04,
 'employees': 151942,
 'ttmEPS': 6.32,
 'ttmDividendRate': 0.9161086453730869,
 'dividendYield': 0.006181209065456997,
 'nextDividendDate': '',
 'exDividendDate': '2022-05-03',
 'nextEarningsDate': '2022-07-13',
 'peRatio': 24.10252647889486,
 'beta': 1.2874737842102253,
 'maxChangePercent': 57.584268293192196,
 'year5ChangePercent': 3.127954383421047,
 'year2ChangePercent': 0.9265552559361622,
 'year1ChangePercent': 0.2116091787282335,
 'ytdChangePercent': -0.1560140760373007,
 'month6ChangePercent': -0.06453938514342157,
 'month3ChangePercent': -0.0913813505301219,
 'month1ChangePercent': -0.05158872404724135,
 'day30ChangePercent': -0.04954325295388175,
 'day5ChangePercent': 0.04573709084481044}

In [19]:
data['year1ChangePercent']

0.2116091787282335